rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /infographics/{userId}/{allPaths=**} {
      allow read: if request.auth != null && (request.auth.uid == userId || firestore.get(/databases/(default)/documents/users/$(request.auth.uid)).data.role == 'ADMIN');
      allow write: if false; // Only written via Cloud Functions
    }
  }
}
